<div
  class="min-h-screen bg-gradient-to-b from-black via-gray-900 to-yellow-500 flex items-center justify-center relative"
>
  <div class="bg-white shadow-lg rounded-lg p-4 max-w-md w-full">
    <h2 class="text-xl font-bold text-center mb-4">
      {{ blogForm.value.id ? "Update Blog Post" : "Create Blog Post" }}
    </h2>

    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <!-- Blog Title -->
      <div class="mb-3">
        <label class="block text-gray-700 font-medium text-sm">Title</label>
        <input
          formControlName="title"
          class="w-full p-2 border rounded-lg focus:outline-none focus:ring-1 focus:ring-yellow-400 text-sm"
          type="text"
          placeholder="Blog Title"
        />
        <div
          *ngIf="submitted && f['title'].errors"
          class="text-red-500 text-xs mt-1"
        >
          Title is required.
        </div>
      </div>

      <!-- Blog Content -->
      <div class="mb-3">
        <label class="block text-gray-700 font-medium text-sm">Content</label>
        <textarea
          formControlName="content"
          class="w-full p-2 border rounded-lg focus:outline-none focus:ring-1 focus:ring-yellow-400 text-sm"
          rows="4"
          placeholder="Blog Content"
        ></textarea>
        <div
          *ngIf="submitted && f['content'].errors"
          class="text-red-500 text-xs mt-1"
        >
          Content is required.
        </div>
      </div>

      <button
        class="w-full bg-green-500 text-white font-semibold py-2 rounded-lg hover:bg-green-600 text-sm transition"
      >
        Submit
      </button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancel
      </button>
    </form>
  </div>
</div>
